exoshark/assets/images/Thumbs.db
exoshark/assets/images/media/Thumbs.db
assets/images/Thumbs.db
exoshark/assets/images/projects/Thumbs.db
assets/images/projects/Thumbs.db
assets/images/addons/Thumbs.db